<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Planetário</title>
    <script src="{{url_for('static',  filename='js/socket_io.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- <script src="{{ url_for('static',  filename='js/script.js') }}"></script> -->
    <div class="container">
        <div class="planeta cima" id="mer"><a href="{{ url_for('mercurio') }}" class="link"></a></div>
        <div class="planeta cima" id="ven"><a href="{{ url_for('venus') }}" class="link"></a></div>
        <div class="planeta cima" id="ter"><a href="{{ url_for('terra') }}" class="link"></a></div>
        <div class="planeta cima" id="mar"><a href="{{ url_for('marte') }}" class="link"></a></div>
        <div class="planeta baixo" id="jup"><a href="{{ url_for('jupiter') }}" class="link"></a></div>
        <div class="planeta baixo" id="sat"><a href="{{ url_for('saturno') }}" class="link"></a></div>
        <div class="planeta baixo" id="ura"><a href="{{ url_for('urano') }}" class="link"></a></div>
        <div class="planeta baixo" id="net"><a href="{{ url_for('netuno') }}" class="link"></a></div>
    </div>
</body>
</html>