<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercúrio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <style>
        body {
            background-image: url("{{ url_for('static', filename='img/MERCURIO.png') }}");
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static',  filename='css/planetas.css') }}">
</head>
<body>
    <div class="btn">
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='img/VOLTAR.png') }}" alt="">
        </a>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            setTimeout(() => {
                window.location.replace("{{url_for('home')}}")
            }, 300000);
        });
    </script>
</body>
</html>