<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netuno</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <style>
        body {
            background-image: url("{{ url_for('static', filename='img/NETUNO.jpg') }}");
            background-size: cover;
            background-repeat: no-repeat;
            width: 100vw;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static',  filename='css/planetas.css') }}">
</head>
<body>
</body>
</html>